{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Moringa Tribune - {{title}}</title>
  {% else %}
  <title> Art By Kev </title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/art.css' %}">
  {% endblock %}



</head>

<body>
  {% include "navbar.html" %}

  <div class="container-fluid" align="center">
    <div class="row middle">
      <div class="col-md-4">
        <div align="center">
          <form class="navbar-form" role="search" action="{url, 'search_results'}">
    
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Art By Category" name="category">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
    
          </form>
    
        </div>
      </div>
      <div class="col-md-4">
        <div  align="center">
          <form class="navbar-form" role="search" action="{url, 'search_results'}">
    
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Find Art By Location" name="location">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
    
          </form>
    
        </div>
      </div>
    </div>
    
    <div align="center">
      {% for image in images %}
      <div class="col-md-4">
        <div class="thumbnail">
          
            <h3>{{image.image_name}}</h3>
            <img src="{{image.image.url}}" class="img-responsive" alt="Image" style="height:30rem; width:100%"><br><br>
            <p><span style="color:blueviolet">Photo taken in:</span> {{image.location_taken}}</p>
            <a href="{% url 'artview' %}">
              <button type="button" class="btn btn-primary">Open Image</button>
            </a>
          
            
    
          
        </div>
      </div>
      {% endfor %}
    </div>



  








    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>